<div class="contenedor">
	<div id="triNosotros">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenido">
	<h1></h1>    
	<p>Somos una empresa comercializadora enfocada en el servicio de importación de productos en todo el mundo.

Ayudamos a las pequeñas y medianas empresas a desarrollar los procedimientos necesarios para realizar la importación, distribución, almacenaje y comercialización de sus productos cumpliendo con la normatividad de la ley de comercio exterior vigente. </p>
	<h2>Mision</h2>
	<p>Nuestra misión es Acercar los Negocios internacionales a nuestros clientes facilitándoles así la toma de decisiones para el éxito de su empresa.</p> <h2>Vision</h2>
	<p>Ser una empresa líder en el comercio internacional ofreciendo bienes y servicios cuya calidad excedan las expectativas del cliente, lográndolo con personal altamente calificado y apoyándonos con los mejores proveedores de productos y servicios, manteniendo siempre una cultura de calidad y compromiso  con el desarrollo sustentable de nuestro país. </p>
	</div>
	<div class="galeria">
	<h2>Noticias Nuevas</h2>
		<% @todasnoticias = Noticia.find(:all, :order => 'titulo', :limit => 3) %>
			<% for noticia in @todasnoticias %>
				<div class="preview">
				<%= image_tag noticia.imagen, :size =>"317 × 182" %>
				<p><%= link_to noticia.titulo, noticia %></p>
				</div>
		<% end %>
	<div class="break">
	</div>
	</div>
</div>