<div class="contenedor">
	<div id="triCategorias">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenidoDos">
		<div id="provicionaldos">
		<%= image_tag "productos.jpg", :size=>"885 × 552" %>
		</div>
	</div>
	<div class="galeria">
	<h2>Noticias Nuevas</h2>
		<% @todasnoticias = Noticia.find(:all, :order => 'titulo', :limit => 3) %>
			<% for noticia in @todasnoticias %>
				<div class="preview">
				<%= image_tag noticia.imagen, :size =>"317 × 182" %>
				<p><%= link_to noticia.titulo, noticia %></p>
				</div>
		<% end %>
	<div class="break">
	</div>
	</div>
</div>