<div class="contenedor">
	<div id="triServicios">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenido">
	
	<h1>Servicios</h1>
	<p>Buscamos que  nuestros clientes se liberen de toda carga y sus compras en el extranjero sean más sencillas y ágiles.</p>
	<p>Búsqueda de productos en todo el mundo. Localización de proveedores y productos específicos, para compra directa o manufactura de productos.</p>
	<p>Coordinación de logística Origen – Destino  (house to house).</p>
	<p>Tramite de importación (pago de impuestos y coordinación aduanal)</p>
	<p>Gestionamos el padrón de importador del cliente o el de nuestra empresa.</p>
	</div>
	
	<div class="galeria">
	<h2>Noticias Nuevas</h2>
		<% @todasnoticias = Noticia.find(:all, :order => 'titulo', :limit => 3) %>
			<% for noticia in @todasnoticias %>
				<div class="preview">
				<%= image_tag noticia.imagen, :size =>"317 × 182" %>
				<p><%= link_to noticia.titulo, noticia %></p>
				</div>
		<% end %>
	<div class="break">
	</div>
	</div>
</div>
