<div class="contenedor">
	<div id="triServicios">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenido">
	<h1>Servicios</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris diam, egestas eget dictum eget, convallis id nulla. Integer nec purus massa, a laoreet ante. Vestibulum at turpis a dui fringilla vestibulum eu vitae orci. Duis sapien libero, euismod sit amet consequat sollicitudin, fermentum vitae ligula. Cras consectetur leo ac eros malesuada sit amet malesuada nisi eleifend. Nunc malesuada consectetur nisl et hendrerit. Quisque fringilla est vel nibh tincidunt sit amet interdum mauris pretium. Etiam cursus lacus ac massa suscipit eget mattis sem consequat. Quisque tincidunt eros sit amet lacus dignissim eleifend. Quisque non justo urna. </p>
	</div>
	<div class="galeria">
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	</div>
</div>
